<div id="column" class="board p-4 bg-gray-300 h-full overflow-auto" data-kanbanid="<%= @kanban.id %>">
    <div class="board">
      <div class="flex flex-row items-start">
        <draggable v-model="columns" @change="dropColumn" :move="checkMove">
          <transition-group  class="flex">
            <board-column v-for="column in columns" :column="column" :key="column.id" />
          </transition-group>
        </draggable>  
        <div class="column bg-gray-200 p-2 mr-4 text-left shadow rounded cursor-move">
          <input
            type="text"
            class="p-2 mr-2 flex-grow w-full block rounded bg-gray-100"
            v-model="newColumnName"
            placeholder="new column name"
            @keyup.enter="createColumn"
          />
        </div>
      </div>
    </div>
  </div>