<section class="section hero text-center">
  <h1 class="title text-xl mt-5 text-teal-500">我的看板</h1>
  <br>
  <h2 class="subtitle">
    <div class="text-md">
      Welcome to Kanban
    </div> 
  </h2>
  <br>

  <div class="main-pics flex justify-center" >
    <%= link_to '新增看板', new_kanban_path, class: 'p-2 border rounded' %>
  </div>

  <br>
  <div>
    <strong><%= link_to '立刻登入', user_session_path, class: "font-light button py-2 px-3 bg-teal-200 rounded" unless current_user %></strong>
  </div>


  <div id="main-area">
    <div class="main-title">Vue.js x Rails{{ title }}</div>
    <div class="main-body">本日主題：Rails專案內加上Vue元件</div>
    <div class="main-avatar" v-for="user in users" :key="user.id.value">
      <img class="avatar" :src="user.picture.thumbnail">
    </div>
    <footer-component></footer-component>
    <demo-component rootprop="this is a string from index" />
  </div>
</section>